@charset('UTF-8');
html{line-height:1.8;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}body{margin:0;padding:0}article,aside,footer,header,nav,section{display:block}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none;max-width:100%;vertical-align:middle}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;border:none;box-shadow:none}button:hover{outline:none}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}ul,ol{padding:0;margin:0;list-style:none}[hidden]{display:none}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.nomr{margin:0}
.nopd{padding:0}
.pd15{padding:15px}
.pt15{padding-top:15px}
.pb15{padding-bottom:15px}
.pl15{padding-left:15px}
.pr15{padding-right:15px}
.mg15{margin:15px}
.mt15{margin-top:15px}
.mb15{margin-bottom:15px}
.ml15{margin-left:15px}
.mr15{margin-right:15px}
.pd30{padding:30px}
.pt30{padding-top:30px}
.pb30{padding-bottom:30px}
.pl30{padding-left:30px}
.pr30{padding-right:30px}
.mg30{margin:30px}
.mt30{margin-top:30px}
.mb30{margin-bottom:30px}
.ml30{margin-left:30px}
.mr30{margin-right:30px}
.pd45{padding:45px}
.pt45{padding-top:45px}
.pb45{padding-bottom:45px}
.pl45{padding-left:45px}
.pr45{padding-right:45px}
.mg45{margin:45px}
.mt45{margin-top:45px}
.mb45{margin-bottom:45px}
.ml45{margin-left:45px}
.mr45{margin-right:45px}
.size1_3{font-size:1.3em}
.size1_5{font-size:1.5em}
.size1_8{font-size:1.8em}
.size2{font-size:2em}
.size2_3{font-size:2.3em}
.size2_5{font-size:2.5em}
.size2_8{font-size:2.8em}
.size3{font-size:3em}
.size12{font-size:12px}
.clearfix{clear:both}
.clear:after{display:block;content:'';clear:both}
.img_full{display:block;width:100%}
.img_ct{display:block;margin:0 auto}
.fl_lf{float:left}
.fl_rt{float:right}
.fl_no{float:none;clear:both}
.bg_fix{background-attachment:fixed}
.bl_inl{display:inline-block}
.bl_block{display:block}
.bl_cir{display:block;border-radius:50%}
.al_lf{text-align:left}
.al_ct{text-align:center}
.al_rt{text-align:right}
.row-grid{margin:-15px}
.row-grid:after{content:"";display:table;clear:both}
.contain-grid{margin:0 auto;width:100%;padding:0 15px}
@media screen and (min-width: 1025px) {
.grid-1{float:left;width:8.33333%;padding:15px;margin:0}
.grid-2{float:left;width:16.66667%;padding:15px;margin:0}
.grid-3{float:left;width:25%;padding:15px;margin:0}
.grid-4{float:left;width:33.33333%;padding:15px;margin:0}
.grid-5{float:left;width:41.66667%;padding:15px;margin:0}
.grid-6{float:left;width:50%;padding:15px;margin:0}
.grid-7{float:left;width:58.33333%;padding:15px;margin:0}
.grid-8{float:left;width:66.66667%;padding:15px;margin:0}
.grid-9{float:left;width:75%;padding:15px;margin:0}
.grid-10{float:left;width:83.33333%;padding:15px;margin:0}
.grid-11{float:left;width:91.66667%;padding:15px;margin:0}
.grid-12{float:left;width:100%;padding:15px;margin:0}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.grid-sm-1{float:left;width:8.33333%;padding:15px;margin:0}
.grid-sm-2{float:left;width:16.66667%;padding:15px;margin:0}
.grid-sm-3{float:left;width:25%;padding:15px;margin:0}
.grid-sm-4{float:left;width:33.33333%;padding:15px;margin:0}
.grid-sm-5{float:left;width:41.66667%;padding:15px;margin:0}
.grid-sm-6{float:left;width:50%;padding:15px;margin:0}
.grid-sm-7{float:left;width:58.33333%;padding:15px;margin:0}
.grid-sm-8{float:left;width:66.66667%;padding:15px;margin:0}
.grid-sm-9{float:left;width:75%;padding:15px;margin:0}
.grid-sm-10{float:left;width:83.33333%;padding:15px;margin:0}
.grid-sm-11{float:left;width:91.66667%;padding:15px;margin:0}
.grid-sm-12{float:left;width:100%;padding:15px;margin:0}
}
@media screen and (max-width: 767px) {
.grid-xs-1{float:left;width:8.33333%;padding:15px;margin:0}
.grid-xs-2{float:left;width:16.66667%;padding:15px;margin:0}
.grid-xs-3{float:left;width:25%;padding:15px;margin:0}
.grid-xs-4{float:left;width:33.33333%;padding:15px;margin:0}
.grid-xs-5{float:left;width:41.66667%;padding:15px;margin:0}
.grid-xs-6{float:left;width:50%;padding:15px;margin:0}
.grid-xs-7{float:left;width:58.33333%;padding:15px;margin:0}
.grid-xs-8{float:left;width:66.66667%;padding:15px;margin:0}
.grid-xs-9{float:left;width:75%;padding:15px;margin:0}
.grid-xs-10{float:left;width:83.33333%;padding:15px;margin:0}
.grid-xs-11{float:left;width:91.66667%;padding:15px;margin:0}
.grid-xs-12{float:left;width:100%;padding:15px;margin:0}
}
.tb-contain{display:table;width:100%}
.tb-item{display:table-cell;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-1{display:table-cell;width:8.33333%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-2{display:table-cell;width:16.66667%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-3{display:table-cell;width:25%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-4{display:table-cell;width:33.33333%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-5{display:table-cell;width:41.66667%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-6{display:table-cell;width:50%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-7{display:table-cell;width:58.33333%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-8{display:table-cell;width:66.66667%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-9{display:table-cell;width:75%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-10{display:table-cell;width:83.33333%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-11{display:table-cell;width:91.66667%;vertical-align:middle;padding:5px 0;margin:0}
.tb-item-12{display:table-cell;width:100%;vertical-align:middle;padding:5px 0;margin:0}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.tb-sm-item{display:block;width:100%}
}
@media screen and (max-width: 767px) {
.tb-xs-item{display:block;width:100%}
}
.flex-contain{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;width:100%;margin:0;padding:0;flex-flow:row wrap;justify-content:space-between}
.flex-contain.revserver{flex-direction:row-reverse}
.btn{background:#258bb3;color:#fff;padding:0 10px;display:inline-block;margin:0;font-size:1em;line-height:2em;min-width: 100px;cursor:pointer;padding: 5px;}
.btn:hover{opacity:.8}
.btn.btn-full{display:block;width:100%}
.btn.btn-ico{position:relative}
.btn.btn-ico:after{display:block;position:absolute;content:'';width:20px;height:20px;top:50%;right:5px;margin-top:-10px;background:#aaa}
.btn.btn-ico-inl:after{display:inline-block;content:'';width:1em;height:1em;top:50%;right:5px;margin-top:-.5em;background:#aaa}
.ico{display:inline-block;vertical-align:middle;padding:0 5px;font-size:1em;line-height:1.5;cursor:pointer}
.anm-sc{position:relative;overflow:hidden;background:#000}
.anm-sc:hover .anm-sc{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);transform:scale(1.1)}
.anm{-webkit-transition:all ease-in 1s;-moz-transition:all ease-in 1s;transition:all ease-in 1s}
.bg-lazyload{background-repeat:no-repeat;background-size:cover;background-position:center;position:absolute;top:0;left:0;right:0;bottom:0}
label{font-family:inherit;color:#333;font-size: 1rem;line-height:1.5em;display: block;margin: 0 0 5px;}
input,select,texarea{font-family:inherit;color:#333;font-size: 1rem;line-height:1.5em;border:1px solid #ddd;outline:none;margin: 0 0 10px;padding: 3px;height: 40px;}
input:focus,select:focus,texarea:focus{outline:none;border-color:#111}
.fr-row{padding:0;margin:0 0 10px}
.fr-lb{display:block;margin:0 0 5px}
.fr-txt{display:block;width:100%;}
.fr-num{width:80px}
.fr-sel{
    width: 100%;
}
.flwrap{position:relative;overflow:hidden;width:250px;height:35px;line-height:35px;border:1px solid #ddd;margin:0 0 5px;padding:0 0 0 90px}
.flwrap > .fl-btn{position:absolute;top:0;left:0;z-index:9;padding:0;text-align:center;line-height:35px;width:80px;height:100%}
.flwrap > .fl-path{display:block}
.flwrap > .fr-fl{position:absolute;top:0;right:0;z-index:99;width:100%;height:100%;margin:0;padding:0;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.fr-area{display:block;width:100%!important;min-height:80px}
.fr-sea{position:relative;padding:0 35px 0 0}
.fr-sea > .fr-txt{line-height:25px}
.fr-sea > .but{position:absolute;top:0;right:0;width:35px;height:100%;line-height:28px;text-align:center;background:#333;color:#fff;cursor:pointer}
.lst > li{padding:10px 0;margin:0}
.lst_inl{font-size:0}
.lst_inl > li{display:inline-block;font-size:13px;padding:0 5px}
.lst_inl > li:first-child{padding-left:0}
.lst_tb{display:table;width:100%;margin:15px 0}
.lst_tb > li{display:table-cell;vertical-align:top}
.oltb{width:100%}
.oltb th{background:#eee}
.oltb td,.oltb th{padding:8px;border:1px solid #ddd}
@media screen and (max-width: 767px) {
.oltb td,.oltb th{padding:3px 5px;display:block}
.oltb_attr tr,.oltb_attr th,.oltb_attr td{display:block;width:100%!important}
.oltb_attr tr{margin:10px 0}
.oltb_attr td:before{content:attr(data-name);display:block;padding:5px 8px}
}
html {
  height: 100%;
  font-size: 14px; }

body {
  font-size: 1rem;
  line-height: 1.8;
  height: 100%;
  color: #333;
  font-weight: 400;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #fff; }

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }

#app_root {
  width: 100%;
  height: 100%; }

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  align-items: stretch; }

.wrpage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  width: 100%;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between; }

#main {
  flex-grow: 1; }

#header, #footer {
  flex-shrink: 0; 
  text-align: center;
}

.wrap {
  padding: 50px 0; }
.popup{
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:99999;
  background: rgba(0, 0, 0, 0.7);
}

.popup-ct {
    display: block;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 37px 15px 15px;
    height: 80vh;
    background: #fff;
    top: 10vh;
}

.popup-ct > .icon {
    position: absolute;
    right: 10px;
    top: 3px;
    background: none;
    font-size: 2em;
    cursor: pointer;
}
.popup.active{
  display:block;
}
.flex-row > .fr-row{
  width: 43%;
}
.flex-row{
  
align-items: center;
}
.color{
  display:inline-block;
  width:1em;
  height:1em;
  border-radius:50%;
  margin:0 5px 0 0;
}